body {
    background-color: rgb(161 130 173);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 58px;
}

img {
    width: 100%;
}

.photo-logo {
    padding-left: 30px;
    padding-right: 50px;
}

.buttons-container {
    display: flex;
    flex-direction: column; /* Изменено на column для вертикального расположения */
    align-items: center; /* Выравниваем кнопки по центру */
    margin-top: 50px; /* Отступ сверху для отделения от заголовка */
    gap: 20px; /* Пространство между кнопками */
}

.button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px; /* Оптимизация размера текста */
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 5px 2px 20px #35193a, -1px -1px 24px #c558e8; /* Оптимизация теней */
}

.button:hover,
.button:focus {
    color: #666;
    box-shadow: inset 20px 40px 50px #c5c5c5, inset -20px -40px 50px #ffffff;
}

.scale {
    font-size: clamp(1rem, calc(24px + 4vw), 48px);
}

p {
    display: block;
    margin-block-start: 25px; /* Уменьшение отступов */
    margin-block-end: 25px;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
