body { background-color: #778899; }
h1 {
    text-align:center;
    margin-top: 30px;
    font-size: 28px;
}
img {
    border-radius: 10px;
    box-shadow: 10px 10px 200px yellow;
}
.photo-logo {
    padding-left: 30px;
    padding-right: 50px;
}
.content {
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 22px;
    font-family: 'Caveat', cursive;
}
.content-item {
    display:flex;
    gap: 10px;
    padding-right: 20px;
    width: 50%;
